<% if logged_in? %>
  <div class="text-center">
    <p>ログイン完了ユーザ： <%= current_user.name %></p>
    <%= form_tag(search_path, method: :get,class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "住所を入力", size: 40 %>
      </div>
      <%= submit_tag '住所を検索', class: 'btn btn-success btn-lg' %>
    <% end %>

  <ul>
    <li>TYPE : <%= @types %></li>
    <li>FROM : <%= @search_address %></li>
    <li>TO : <%= @search_address_to %></li>
    <li>DISTANCE : <%= @distance %>m</li>
  </ul>
  
  <ul>
    <li>TYPE : <%= @types_second %></li>
    <li>FROM : <%= @search_address %></li>
    <li>TO : <%= @search_address_to_station %></li>
    <li>DISTANCE : <%= @distance_station %>m</li>
  </ul>
  
  <ul>
    <li>TYPE : <%= @types_third %></li>
    <li>FROM : <%= @search_address %></li>
    <li>TO : <%= @search_address_to_hospital %></li>
    <li>DISTANCE : <%= @distance_hospital %>m</li>
  </ul>
  
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsDisplay_second = new google.maps.DirectionsRenderer();
    var directionsDisplay_third = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();
    
    function calcRoute() {
      var origin      = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
      var destination = new google.maps.LatLng(<%= @lat_search %>,<%= @lng_search %>);
      var destination_station = new google.maps.LatLng(<%= @lat_search_station %>,<%= @lng_search_station %>);
      var destination_hospital = new google.maps.LatLng(<%= @lat_search_hospital %>,<%= @lng_search_hospital %>);
      
      var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING
       };
       
      var request_second = {
      origin:      origin,
      destination: destination_station,
      travelMode:  google.maps.TravelMode.WALKING
       };
       
     var request_third = {
      origin:      origin,
      destination: destination_hospital,
      travelMode:  google.maps.TravelMode.WALKING
       };

       
      directionsService.route(request, function(response, status) {
        console.log(response);
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    
    
      directionsService.route(request_second, function(response_second, status) {
        console.log(response_second);
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay_second.setDirections(response_second);
        }
      });
      
      directionsService.route(request_third, function(response_third, status) {
        console.log(response_third);
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay_third.setDirections(response_third);
        }
      });
    }
    
    calcRoute();
    
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(18);
      directionsDisplay.setMap(handler.getMap());
      directionsDisplay_second.setMap(handler.getMap());
      directionsDisplay_third.setMap(handler.getMap());
    });

  </script>
  
  </div>
     
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Hawki</h1>
      <%= link_to 'Sign up!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>