<% if logged_in? %>
  <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="text-center">
          <p>住所を検索するときに、近くにあって欲しい施設を選択してみよう。</p>
          <p>特に、出かけ先や引越し先周辺の施設を調べたい時に検索してみてください！</p>
          <p>検索した住所から施設までの距離と、その施設の優先度によって、点数が表示されます。</p>
          <%= form_tag(search_path, method: :get,class: 'form-inline') do %>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-8">
                <%= label_tag :facility_first, '優先度No.1_施設' %>
                <%= select @facility_first, :facility_first, {コンビニエンスストア: "convenience_store",電車の駅: "train_station", 病院: "hospital"}, {},class: 'form-control' ,style: 'width: 350px' %>
              </div>
              <div class="col-xs-offset-2 col-xs-8">
                <%= label_tag :facility_second, '優先度No.2_施設' %>
                <%= select @facility_second, :facility_second, {コンビニエンスストア: "convenience_store",電車の駅: "train_station", 病院: "hospital"}, {}, class: 'form-control' ,style: 'width: 350px' %>
              </div>
              <div class="col-xs-offset-2 col-xs-8">
                <%= label_tag :facility_third, '優先度No.3_施設' %>
                <%= select @facility_third, :facility_third,  {コンビニエンスストア: "convenience_store",電車の駅: "train_station", 病院: "hospital"}, {}, class: 'form-control' ,style: 'width: 350px'%>
              </div>
            </div>
            <p></p>
            <p>↓に住所を入れて検索してみよう！</p>
            <div class="form-group">
              <%= text_field_tag :keyword, @keyword, class: 'form-control input-lg', placeholder: "住所を入力", size: 40 %>
            </div>
            <%= submit_tag '住所を検索', class: 'btn btn-success btn-lg' %>
          <% end %>
        
        <% if @keyword.present? %>
        
          <p>FROM : <%= @search_address %></p>
          
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>
          
          <script type="text/javascript">
            var directionsDisplay = new google.maps.DirectionsRenderer();
            var directionsDisplay_second = new google.maps.DirectionsRenderer();
            var directionsDisplay_third = new google.maps.DirectionsRenderer();
            var directionsService = new google.maps.DirectionsService();
            
            function calcRoute() {
              var origin      = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
              var destination = new google.maps.LatLng(<%= @hash[1][:lat] %>,<%= @hash[1][:lng] %>);
              var destination_station = new google.maps.LatLng(<%= @hash[2][:lat] %>,<%= @hash[2][:lng] %>);
              var destination_hospital = new google.maps.LatLng(<%= @hash[3][:lat] %>,<%= @hash[3][:lng] %>);
              
              var request = {
                origin:      origin,
                destination: destination,
                travelMode:  google.maps.TravelMode.WALKING
               };
         
              var request_second = {
                origin:      origin,
                destination: destination_station,
                travelMode:  google.maps.TravelMode.WALKING
               };
         
              var request_third = {
                origin:      origin,
                destination: destination_hospital,
                travelMode:  google.maps.TravelMode.WALKING
              };
              
              directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                }
              });
              
              directionsService.route(request_second, function(response_second, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay_second.setDirections(response_second);
                }
              });
              
              directionsService.route(request_third, function(response_third, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay_third.setDirections(response_third);
                }
              });
            }
    
            calcRoute();
    
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(18);
              
              directionsDisplay.setMap(handler.getMap());
              directionsDisplay_second.setMap(handler.getMap());
              directionsDisplay_third.setMap(handler.getMap());
            });
            
          </script>
          
          <br>
          
          <div class="panel panel-default text-left" style='width: 800px;'>  
            <div class="panel-heading">
              最も近い施設(Closest facility)
            </div>
            
          
          <table class="table">
            <thead>
              <tr>
                <th>NUMBER</th>
                <th>TYPE</th>
                <th>NAME</th>
                <th>DISTANCE</th>
                <th>SCORE</th>
                <th></th>
              </tr>
            </thead>  
          
          <tbody>
          <% sum = 0 %>
          <% @facility_information.each_with_index do |info,index| %>
            <tr>
              <th> <%= index+1 %> </th>
              <td> <%= type_searcher(@types_array[index]) %></td>
              <td> <%= info[:name] %></td>
              <td> <%= info[:distance] %>m</td>
              <td> <%= calCoefficien(index)*calScore(info[:distance]) %>点</td>
              <% sum = sum + calCoefficien(index)*calScore(info[:distance]) %>
            </tr>
              
          <% end %>
          </tbody>
          </table>
          
          <div class="center jumbotron">
            <div class="text-center">
              <p>あなたが検索した住所の点数は...</p>
              <h1><%= sum  %> / 800点</h1>
            </div>
          </div>
          
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Hawki</h1>
      <%= link_to 'Sign up!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>